/*
*************************
* **~ PROFILE PAGE ~ ** * 
------************-------
*/

.toggle_color-mode {
  width: 80%;
  height: 2rem;
  border: none black;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
}
.toggle_color-mode > button {
  background-color: var(--main-bg);
  border-radius: 15px;
  border: 0.5px dotted black;
}

.profile {
  margin-top: 0.3rem;
  margin-bottom: 7rem;
  height: 460px;
  width: 80%;
  background-color: var(--main-bg);
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile_img {
  min-width: 100px;
  max-width: 600px;
  position: absolute;
  top: 45%;
  right: 55%;
}

.profile_username {
  font-size: 2.125rem;
  position: absolute;
  top: 129px;
  right: 30%;
}

.about-me_profile {
  max-width: 40%;
  position: absolute;
  top: 55%;
  right: 8.5%;
}

.counter_div {
  margin-top: 2rem;
  background-color: none;
  border: 2px dotted black;
  height: 5.5rem;
  width: 8rem;
  position: absolute;
  top: 71%;
  right: 22%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.bookmark-counter-pic {
  height: 30px;
}

.bookmark-counter {
  position: absolute;
  padding: 1rem;
}

/*PROFILE-PAGE*/
/* Media Query PROFILE.html MOBILE-*/
@media screen and (min-width: 320px) {
  .profile {
    max-width: 95%;
  }
  .profile_img {
    width: 45%;
    top: 10%;
    margin-top: -1.5rem;
  }
  .profile_username {
    width: 18%;
    top: 10%;
  }
  .about-me_profile {
    max-width: 80%;
    left: 10%;
    margin-top: -4rem;
  }
  .counter_div {
    top: 75%;
    border: 1px dotted black;
    height: 4.8rem;
    width: 7rem;
  }
}

/*MEDIA QUERY - LAPTOP and DESKTOP */
@media screen and (min-width: 961px) {
  .profile_img {
    min-width: none;
    max-width: 33%;
    top: 22%;
    left: 13%;
  }
  .about-me_profile {
    max-width: 40%;
    left: 50%;
    transform: translate(50, 50);
  }
  .counter_div {
    left: 40%;
  }
  nav img {
    width: 25%;
  }
  .profile {
    width: 45%;
  }
  .bookmark-counter {
    position: absolute;
    padding-top: 2rem;
  }
}

/* 
@media (min-width: 961px) {
  .about-me_profile {
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    top: 46%;
    width: 14rem;
  }

  *.counter_div {
    left: 10%;
  }
} */
