div {
  position: relative;
  height: 200px;
  border-radius: 50px;
  margin: 1.25rem;
}

div > h3 {
  position: absolute;
  top: 2.3rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  color: white;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: black;
  font-size: 1.59rem;
  letter-spacing: 0.055rem;
  word-spacing: 0.43rem;
  line-height: 125%;
  font-weight: bold;
}

.bookmark {
  font-weight: 600;
  padding-top: 7.5%;
  height: 310px;
  width: 80%;
  max-width: 450px;
  align-self: center;
  background-color: limegreen;
  text-align: center;
  position: relative;
  border: 0.5rem solid white;
  /* box-shadow: 2px 3.5px white;*/
}

.bkmrkicon {
  position: absolute;
  right: -19px;
  top: -33px;
  width: 120px;
}

.answer-button {
  background-color: yellow;
  color: black;
  font-weight: bold;
  letter-spacing: 0.3em;
  border: 2px solid white;
  border-radius: 25px;
  width: 190px;
  height: 24%;
  padding: 4px 5px;
}

.answer-button:hover {
  background-color: chartreuse;
}

.showanswer {
  font-weight: normal;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.0625rem;
  padding-top: 0.625rem;
}

.category {
  background-color: white;
  border: 1px;
  border-color: white;
  border-radius: 50px;
  box-shadow: 2px 2px;
  margin: 1rem;
  /*position: absolute;
    left: -2px;
    display: flex;
    align-content: space-between;*/
}

.category:hover {
  background-color: yellow;
}
