/* MEDIA QUERRY SECTION
/*Mobile*/

@media screen and (min-width: 320px) and (max-width: 359px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .quizcard {
    width: 95%;
    transform: translate(-3.5%, 0);
  }

  .quizcard > h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    color: black;
  }

  .quizcard > button {
    margin-top: 5rem;
  }

  header {
    height: 2%;
  }

  header > h1 {
    font-size: 1.2em;
    padding: 0;
  }

  header > img {
    display: none;
  }

  .quizcard > h3 {
    font-size: 1em;
    margin-left: -1rem;
  }

  .bookmark-icon {
    width: 20%;
    right: 4.5%;
  }

  footer img {
    width: 2rem;
  }
}

/* @media (min-width: 375px) */

@media screen and (min-width: 360px) and (max-width: 480px) {
  main {
    margin-top: 2rem;
  }
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .quizcard {
    width: 95%;
    right: 4.5%;
  }

  nav img {
    width: 14%;
  }

  .bookmark-icon {
    width: 20%;
    top: -40px;
    cursor: pointer;
  }
  div > h3 {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 518px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .quizcard > h3 {
    top: 01rem;
  }
}

@media screen and (min-width: 519px) and (max-width: 640px) {
  .profile_img {
    width: 40%;
    top: 5%;
    left: 10%;
  }
}

@media (min-width: 641px) {
  .about-me_profile {
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    top: 49%;
    left: 45%;
    width: 14rem;
  }

  .counter_div {
    left: 10%;
  }

  @media screen and (orientation: landscape) and (min-width: 320px) and (max-width: 359px) {
    header {
      height: 20vh;
    }

    header > h1 {
      font-size: 1.5em;
    }

    header > img {
      display: none;
    }

    footer {
      height: 20vh;
    }
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops  */
}

/*Media Query Cheats */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops  */
}
